<p><%= flash[:welcome] %></p>

<div class="main-haus-div">

  <h2><%= @house.name %> Haus</h2>

  <div class="add-item-div">
    <h5>Add Items</h5>
    <%= form_for [@house, @item] do |f| %>
      <%= f.text_field :name, placeholder: "Item" %>
    <% end %>
  </div>

  <div class="list-div">
    <% if @house.items.exists? %>
    <h5>Items</h5>
    <ul class="list-unstyled">
      <% @house.items.each do |i| %>
        <li><%= i.name.split.map(&:capitalize).join(' ') %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="row">
    <br>
    <a class="home-link" href="/">Home</a>
  </div>
</div>

